@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&display=swap");
.header {
  background-image: url(../img/11.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}
.header button {
  border: none;
  background-color: transparent;
  font-size: 28px;
  padding: 20px;
}
.header button:hover {
  color: #1f6234 !important;
}

#navbar {
  background-color: white;
  box-shadow: 0px 0px 12px 0px #989898;
  z-index: 5;
}
#navbar .navbar-brand {
  margin-right: 16%;
}
#navbar .logo {
  width: 45%;
  margin-left: 25px;
}
#navbar li {
  font-size: 20px;
  font-family: "Lobster", cursive;
  color: black;
}
@media only screen and (max-width: 1220px) and (min-width: 1100px) {
  #navbar li {
    font-size: 15px !important;
  }
}
@media only screen and (max-width: 1099px) and (min-width: 960px) {
  #navbar li {
    font-size: 14px !important;
  }
}
@media only screen and (max-width: 1069px) and (min-width: 800px) {
  #navbar li {
    font-size: 11px !important;
  }
}
#navbar li a {
  color: black;
}
#navbar li a:hover {
  color: #1f6234;
}
#navbar li:hover {
  color: #1f6234 !important;
}
#navbar button {
  border: none;
  background-color: transparent;
}
#navbar button:hover {
  color: #1f6234 !important;
}

.sticky {
  position: fixed !important;
  top: 0;
  min-width: 100%;
  z-index: 1;
}

.log {
  width: 30% !important;
  margin-left: 10px;
}

.dark-mode {
  background-color: black;
}
.dark-mode #navbar {
  background-color: black !important;
  color: white;
}
.dark-mode #navbar li {
  color: white;
}
.dark-mode #navbar li:hover {
  color: #1f6234;
}
.dark-mode #navbar a {
  color: white;
}
.dark-mode #navbar a:hover {
  color: #1f6234;
}
.dark-mode button {
  color: white;
}

#histoire .bg-se1 {
  background-image: url(../img/5.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
#histoire p {
  padding: 20px;
  font-size: 25px;
}
#histoire p strong {
  color: #1f6234;
  font-family: "Lobster", cursive;
}

.dark-mode #histoire .bg-se1 {
  background-image: url(../img/152.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.dark-mode #histoire p {
  color: white;
}

#servic {
  background-image: url(../img/bgg.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  font-size: 17px;
}
@media only screen and (max-width: 765px) {
  #servic {
    height: 760px;
  }
}
#servic i {
  color: #1f6234;
  font-size: 50px;
  text-align: center !important;
}
#servic .card {
  border-color: transparent;
  background-color: #f9f9f9;
  padding: 20px;
}
#servic .card:hover {
  box-shadow: 0px 0px 30px 0px #000000;
}
#servic .card p {
  padding: 19px;
}

.dark-mode #servic {
  background-image: linear-gradient(black, rgba(0, 0, 0, 0.205)), url(../img/bgg.jpg);
}
.dark-mode #servic .card {
  background-color: #ebebeb;
}

#products img {
  height: 150px !important;
}
#products .product-grid3 {
  font-family: Roboto, sans-serif;
  text-align: center;
  position: relative;
  background-color: #f9f9f9;
  z-index: 1;
}
#products .product-grid3 .product-image3 {
  position: relative;
}
#products .product-grid3 .product-image3 a {
  display: block;
}
#products .product-grid3 .product-image3 img {
  width: 100%;
  height: auto;
}
#products .product-grid3:hover .pic-1 {
  -webkit-animation: rotation linear both;
  animation: rotation linear both;
}
#products .product-grid3 .social {
  width: 120px;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  opacity: 0;
  position: absolute;
  right: 0;
  left: 0;
  bottom: -23px;
  transform: scale(0);
  transition: all 0.3s ease 0s;
}
#products .product-grid3 .social li {
  display: inline-block;
}
#products .product-grid3 .social li a {
  color: #95c944;
  background: #fff;
  font-size: 18px;
  line-height: 50px;
  width: 50px;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin: 0 2px;
  display: block;
  transition: all 0.3s ease 0s;
}
#products .product-grid3 .social li a:hover {
  background: #95c944;
  color: #fff;
}
#products .product-grid3:hover .social {
  opacity: 1;
  transform: scale(1);
}
#products .product-grid3 .product-content {
  z-index: -1;
  padding: 15px;
  text-align: left;
}
#products .product-grid3 .title {
  font-size: 14px;
  text-transform: capitalize;
  margin: 0 0 7px;
  transition: all 0.3s ease 0s;
}
#products .product-grid3 .title a {
  color: #414141;
}
#products .product-grid3 .price {
  color: #000;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  margin-right: 2px;
  display: inline-block;
}
#products .product-grid3 .price span {
  color: #909090;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  text-decoration: line-through;
  text-align: left;
  display: inline-block;
  margin-top: -2px;
}
#products .product-grid3:hover .product-discount-label,
#products .product-grid3:hover .product-new-label, #products .product-grid3:hover .title {
  opacity: 0;
}
#products .product-grid3 .product-discount-label, #products .product-grid3 .product-new-label {
  background-color: #95c944;
  color: #fff;
  font-size: 17px;
  padding: 2px 10px;
  position: absolute;
  right: 10px;
  top: 10px;
  transition: all 0.3s;
}
@media only screen and (max-width: 1200px) {
  #products .product-grid3 .rating {
    margin: 0;
  }
}
@media only screen and (max-width: 990px) {
  #products .product-grid3 {
    margin-bottom: 30px;
  }
  #products .product-grid3 .rating {
    margin: -22px 0 0;
  }
}
@media only screen and (max-width: 359px) {
  #products .product-grid3 .rating {
    margin: 0;
  }
}
@keyframes rotation {
  0% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
    transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }
  50% {
    -webkit-transform: translateX(50%) rotateY(-90deg) scale(2);
    transform: translateX(50%) rotateY(-90deg) scale(2);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  100% {
    -webkit-transform: translateX(100%) rotateY(-180deg) scale(1);
    transform: translateX(100%) rotateY(-180deg) scale(1);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
  }
}

#customer .flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
}
#customer .flip-card .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
#customer .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
#customer .flip-card .flip-card-front, #customer .flip-card .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
#customer .flip-card .flip-card-front {
  background-color: #bbb;
  color: black;
}
#customer .flip-card .flip-card-back {
  background-color: #1f6234;
  color: white;
  transform: rotateY(180deg);
}
#customer .flip-card .rounded {
  width: 100%;
}
#customer .flip-card .fab {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 50%;
  color: #1f6234;
}
#customer .flip-card .fab:hover {
  background-color: transparent;
  color: #ffffff;
}
#customer .flip-card h1 {
  font-size: 25px;
  color: #ffffff;
}
#customer .flip-card h2 {
  padding-top: 8px;
  font-size: 25px;
  font-family: "Lobster", cursive;
}
#customer p {
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
}

#footer {
  background-image: linear-gradient(black, rgba(0, 0, 0, 0.637)), url(../img/20.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
}
@media only screen and (max-width: 990px) {
  #footer {
    height: 430px;
  }
}
@media only screen and (max-width: 780px) {
  #footer {
    height: 920px;
  }
}
#footer .fix {
  width: 90%;
}
#footer p {
  color: #ffffff;
  font-size: 20px;
  line-height: 2;
}
#footer h3 {
  color: #ffffff;
  font-family: "Lobster", cursive;
}
#footer li {
  color: #ffffff !important;
  font-size: 20px;
  line-height: 2;
}
#footer li a {
  color: #ffffff !important;
  text-decoration: none;
  line-height: 2;
}
#footer button {
  background-color: #1f6234;
  color: #ffffff;
}
#footer .copy {
  border-top: 1px solid #ffffff;
  margin-top: 10px;
  padding-top: 10px;
  font-size: 15px;
  color: #ffffff;
}
#footer .fab {
  color: #ffffff !important;
  margin: 10px;
  font-size: 25px;
}
#footer .fab:hover {
  color: #1f6234 !important;
}

body {
  background: #f9f9f9;
}

h1 {
  color: #1f6234;
  text-align: center;
  font-family: "Lobster", cursive;
  margin: 20px;
}

@media only screen and (max-width: 990px) {
  p {
    font-size: 15px !important;
  }
}

.btn-green {
  background-color: #1f6234;
  color: #ffffff;
}

.modal-title {
  font-family: "Lobster", cursive;
}

.modal-body .img-cart {
  width: 100%;
  height: 100% !important;
}
.modal-body input {
  width: 70%;
}
.modal-body h4 {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.modal-body h4 b {
  color: #1f6234;
}

.btn-vert {
  background-color: #1f6234;
  color: #ffffff;
}

.pos {
  float: right;
}

/*# sourceMappingURL=style.css.map */
