@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&display=swap');


$white:#ffffff ;
$bd-color:#f9f9f9 ;
$main-color:#1f6234;
$secondray-color:#95c944;
$third-color:#709833;
$font:'Lobster', cursive;
