@import "variables";

  .header {
   background-image: url(../img/11.png);
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: cover;
   height: 300px;

   button{
    border: none;
    background-color: transparent;
    font-size: 28px;
    padding: 20px;
    &:hover{
      color: $main-color !important;
    }
  }
   
  }
  #navbar{
    background-color: white;
    box-shadow: 0px 0px 12px 0px #989898;
    z-index: 5;
    .navbar-brand{
      margin-right: 16%;
    }
      .logo{
         width: 45%; 
         margin-left: 25px;
      }
      li{
        font-size: 20px;
        font-family: $font;
        //padding-right: 15px;
        color: black ;
        @media only screen and (max-width:1220px) and (min-width:1100px) {
          font-size: 15px !important;
      }
      @media only screen and (max-width:1099px) and (min-width:960px) {
        font-size: 14px !important;
      }
      @media only screen and (max-width:1069px) and (min-width:800px) {
        font-size: 11px !important;
    }
        a{
          color: black;
          &:hover{
            color: $main-color;
          }
        }
        &:hover{
          color: $main-color !important;
        }
      }
      button{
        border: none;
        background-color: transparent;
        &:hover{
          color: $main-color !important;
        }
      }

      
  }
  .sticky {
    position: fixed  !important;
    top: 0;
    min-width: 100%;
    z-index: 1;
  }
  .log{
    width: 30%  !important;
    margin-left: 10px;
  }

  .dark-mode {
    background-color: black;
    #navbar{
      background-color: black !important;
      color: white;
      li{
        color: white;
        &:hover{
          color: $main-color;
        }
      }
     a{
       color: white;
       &:hover{
        color: $main-color;
       }
     }
     
    }
    button{
      color: white;
    }
  }