@import "variables";

  .header {
   background-image: url(../img/11.png);
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: cover;
   height: 300px;
   
  }
  #navbar{
    background-color: white;
    box-shadow: 0px 0px 12px 0px #989898;
    z-index: 5;
      .logo{
         width: 45%; 
         margin-left: 25px;
      }
      li{
        font-size: 20px;
        font-family: $font;
        padding-right: 15px;
        color: black ;
        a{
          color: black;
          &:hover{
            color: $main-color;
          }
        }
        &:hover{
          color: $main-color !important;
        }
      }
      button{
        border: none;
        background-color: transparent;
        &:hover{
          color: $main-color !important;
        }
      }
  }
  .sticky {
    position: fixed  !important;
    top: 0;
    min-width: 100%;
    z-index: 1;
  }
  .log{
    width: 30%  !important;
    margin-left: 10px;
  }

  .dark-mode {
    background-color: black;
    #navbar{
      background-color: black !important;
      color: white;
      li{
        color: white;
        &:hover{
          color: $main-color;
        }
      }
     a{
       color: white;
       &:hover{
        color: $main-color;
       }
     }
     button{
       color: white;
     }
    }
  }