@import "header.scss";
@import "variables";
@import "histoire.scss";
@import "servic.scss";
@import "products.scss";
@import "customer.scss";
@import "footer.scss";


body{
    background: $bd-color;
}

h1{
    color: $main-color;
    text-align: center;
    font-family: $font;
    margin: 20px;
}

p{
    font-family: cursive !important;
    @media only screen and (max-width:990px){
       font-size: 15px !important;
        }
}