@import "header.scss";
@import "variables";
@import "histoire.scss";
@import "servic.scss";
@import "products.scss";
@import "customer.scss";
@import "footer.scss";


body{
    background: $bd-color;
}

h1{
    color: $main-color;
    text-align: center;
    font-family: $font;
    margin: 20px;
}

p{
    @media only screen and (max-width:990px){
       font-size: 15px !important;
        }
}
.btn-green{
    background-color: $main-color;
    color: $white;
}

.modal-body {
    .img-cart{
    width:100%;
    height: 100%  !important;
}
input{
    width: 70%;
}
h4{
 font-family: Georgia, 'Times New Roman', Times, serif;
 b{
     color: $main-color;
 }
}
}

.btn-vert{
    background-color: $main-color;
    color: $white;
}

.pos{
 float: right;

}